body {
    background-color: black;
}

div .border{
    border:4px solid;
    border-radius:25px;
    background: #FFFFFF;
    padding:5px 20px;

    background-color: #F0E2B9;
}

#playerName {
	font-weight: bold
}

#turnsummary {
	height: 10%;
}

#header {
	height: 10%;
}

#unitlist {
	height: 40%;
}

#selectedSpaceInfo {
	height: 25%;
}

#selectedUnitInfo {
	height: 25%;
}

#boundingplayarea {
	height: 90%;
	overflow-y: auto;
	overflow-x: scroll;
	background: #ccc;
	padding-left: 4px;
	padding-right: 4px;
}

#playarea {
	width: 100%;
	height: 100%;
	background: #ccc;
}

.divtitle {
	text-align: center;
	margin-top: 1;
}

#refreshLabel {
	position: absolute;
	top: 70%;
}

@import "boardUi.less";

@import "terrain.less";
@import "units.less";
