div .border{
    border:4px solid;
    border-radius:25px;
    background: #FFFFFF;
    padding:5px 20px;
}

#turnsummary {
	height: 15%;
}

#header {
	height: 15%;
}

#unitlist {
	height: 45%;
}

#selectedSpaceInfo {
	height: 40%;
}

#boundingplayarea {
	height: 85%;
	overflow-y: auto;
	overflow-x: scroll;
}

#playarea {
	width: 100%;
	height: 100%;
	background: #ccc;
}

/* hex game tiles */
.tile {
  background-image: url("../img/kenney/tileDirt_tile.png");
  background-position: 0px 0px;

  font-size: x-small;
  padding-left:25px;
  padding-top:10px;

  height: 89px;
  width: 65px;
  position: absolute;
}

.selector {
  background-image: url("../img/selector.png");
  background-position: 0px 0px;

  height: 89px;
  width: 65px;
  position: absolute;
}

@import "units.less";
