
.viking {
  background-image: url("../img/viking.png");
  background-position: 0px 0px;
  background-size: 100%;

  height: 32px;
  width: 32px;
  position: absolute;
}

.shieldMaiden {
  background-image: url("../img/shieldMaiden.png");
  background-position: 0px 0px;
  background-size: 100%;

  height: 32px;
  width: 32px;
  position: absolute;
}
